/*This is the first section including the header's styling */
.primary-containter{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.header{
    display: flex;
    justify-content: space-around;

}

.header-logo{
    font-size: 24px;
    color: #f9faf8;
}